<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/style.css">
	<title>Eat Da Burger!</title>
</head>
<body style="background-color: #ffcc99;">
	<div class="container text-center">
		<h1>Eat Da Burger!</h1>
		<img src="https://rlv.zcache.com/cheeseburger_classic_round_sticker-ra28b55d9d7b343c29f700c3d43bcbcdc_v9waf_8byvr_324.jpg" style="max-width: 400px;">
		{{{ body }}}
	</div>
</body>
<footer></footer>	
</html>
